/*========== Importation ==========*/
@use "sass:math";



/*========== Variable ==========*/
/* Image de font */
$image-font: '../asset/img/hero-bg.jpg';
$image-font-width: 1920px;
$image-font-height: 1100px;
$scale: 0.75;
$header-ratio: math.div($image-font-height, $image-font-width) * $scale;


/*========== Style ==========*/

#header-Accueil {
    width: 100%;
    height: calc(100vw * #{$header-ratio});
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;*/

    &::before {
        content: "";
        position: absolute;
        /*top: 0;*/
        left: 0;
        width: 100%;
        height: calc(100vw * #{$header-ratio}); // hauteur proportionnelle à la largeur
        background-image: url($image-font);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        filter: contrast(45%);
        z-index: 1;
    }

    > * {
        position: relative;
        z-index: 2;
    }
}

#contenue {
    margin-top: 3px;
    border-radius: 1%;
    box-shadow: 0px 10px 15px lightgray;

}