/*========== Importation ==========*/
@use "sass:math";

/*========== Variable ==========*/
/* Image de font */
$image-font: '../asset/img/banner.jpg';
$image-font-width: 1920px;
$image-font-height: 300px;
$header-ratio: math.div($image-font-height, $image-font-width);

/*========== Style ==========*/

#header {
    background-image: url($image-font);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: calc(100vw * #{$header-ratio}); // hauteur proportionnelle à la largeur
    
}

.icon {
    width: 50px;
    height: 50px;
    margin: 15px;
    fill: #0D6EFD;
}

.Contenue-box {
    margin-top: 3px;
    border-radius: 1%;
    box-shadow: 0px 10px 15px lightgray;
}

ul {
  list-style-type: none; /* supprime les puces par défaut */
  padding-left: 0;       /* évite le décalage */
}

ul li {
  position: relative;
  padding-left: 25px; /* espace pour l’icône */
}

ul li img {
    margin-right: 10px;
}

/*<hr class="border border-primary border-2 opacity-100" />*/